.cards {
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 40px 40px 20px 100px;
    width: 18rem;
}

.card__title {
    font-weight: 800;
    font-size: larger;
    text-decoration: underline;
}

.card__img {
    height: 282px;
    width: 282px;
}